*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.game-board {
    cursor: default;
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(15, 192, 15);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(64, 226, 255), rgb(160, 238, 214));
    display: flex;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 40vw;
    animation: clouds-animation 20s infinite linear; 
}

/* Animações */

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes game-over {
    to {
        bottom: -200px;
    }
}

@keyframes clouds-animation{
    from {
        right: -40vw;
    }

    to {
        right: 100%;
    }
}

@keyframes btn-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.score{
    color: white;
    font-family: Arial;
    font-size: 15pt;
    margin: 10px 0 0 10px;
    position: absolute;
    text-shadow: 1px 1px 2px black;
}

.menu {
    position: fixed;
    width: 50vw;
    height: 50vh;
    background-color: #302c2c;
    overflow: hidden;
    align-self: center;
    margin-left: 23%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: auto;
}

.menu img{
    width: 200px;
}

.menu .btn{
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #952424;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #000000;
    transition: all 1s;
    animation: btn-animation 1s infinite;
}

.menu .btn:hover{
    transform: scale(1.2);
    animation: none;
}

.menu p{
    color: white;
    font-family: Arial;
}